<html>
<head>
<title>Trending Jobs</title>
</head>
<body>
    <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 popular-keywords">
                  {% if total_trending_jobs > 0 %}
                  <h3 class="font-weight-bold text-white">Trending Jobs:</h3>
                  <ul class="keywords list-unstyled m-0 p-0">
                    {% for d in trending %}
                    <li><a href="{% url 'get_job' slug=d.slug %}" class="btn btn-primary btn-lg btn-block btn-search">{{d.role}}</a></li>
                    {% endfor %}
                  </ul>
                  {% else %}
                  <h3 class="font-weight-bold text-white">No Trending Jobs Yet</h3>
                  {% endif %}
                  <h1></h1>
                </div>
              </div>
          </div>
        </div>
    </div>
</body>
</html>
