{% extends 'base.html' %}
{% block contactactive %}active{% endblock contactactive %}
{% load static %}
{% block data %}

<section class="section-hero overlay inner-page bg-image" style="background-image: url('static/images/hero_1.jpg');"
  id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Contact Us</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'index_page' %}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Contact Us</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="site-section" id="next-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <form class="p-4 p-md-10 border rounded" method="post" action="">
          {% csrf_token %}
          <h3 class="text-black mb-5 border-bottom pb-2">Contact Details</h3>
          <div class="form-group">
            <table style="width: 100%">
              {{form}}
              <!-- {{form.as_p}} -->
            </table>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white" />
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-5 ml-auto">
        <div class="p-4 mb-3 bg-white">
          <p class="mb-0 font-weight-bold">Address</p>
          <p class="mb-4">
            203 Fake St. Mountain View, San Francisco, California, USA
          </p>

          <p class="mb-0 font-weight-bold">Phone</p>
          <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

          <p class="mb-0 font-weight-bold">Email Address</p>
          <p class="mb-0"><a href="#">youremail@domain.com</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock data %}